
```{=html}
<div class="list grid" style="column-gap: 10px;">
<% for (const item of items) { %>
  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
      <small class="card-text text-nowrap inline-block">
        <a href="<%- item.href %>" class="listing-title"><%= item.title %></a> <span class="text-muted listing-subtitle"><%= item.subtitle %></span>
      </small>
      <a href="<%- item.code %>" title="View source code" 
        class="source-code card-text float-end inline-block">
        <i class="bi-code-slash"></i>
      </a>
    </div>
    <a href="<%- item.href %>">
      <img src="<%- item.thumbnail %>" alt="<%- item.description %>" class="card-img-top"/>
    </a>
    
    <% if (item.publicationdate) { %> 
      <b class="listing-publicationdate"><%= item.publicationdate %></b>
    <% } %>
    
  </div>
<% } %>
</div>
```