<ul>
<% for (const item of items) { %>
  <li>
    <a href="<%- item.path %>"><%= item.title %></a>
    <p><%- item.subtitle %></p>
    <img src="<%- item.image %>" alt="<%- item["image-alt"] %>" class="img-fluid"/>
  </li>
<% } %>
</ul>